h1{
    border-style:solid;
    border-top-color: orange;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-color: green;
    border-width: 20px;
    text-align: center;
    padding: 20px;
}
#inp{
    border-top: solid orange 5px;
    border-bottom: solid green 5px;
    border-left: solid blue 5px;
    border-right: solid blue 5px;
    border-radius:25px;
    font-size: 20px;
}
img{
    margin-top: 30px;
    margin-left: 120px;
    border-radius: 225px;
    height: 104px;
    width: 104px;
}